---
const { name, image, size, fallback } = Astro.props;
---

<div class="avatar">
  {
    image ? (
      <img src={image} alt={name} class={`rounded-full ${size}`} />
    ) : (
      <div
        class={`rounded-full ${size} bg-[#002f24] text-[#05ce91] flex items-center justify-center  uppercase`}
      >
        {fallback}
      </div>
    )
  }
</div>
